<html>
    <head>
        <tittle>App Enquetes</tittle>
    </head>
    <body>
        <h1>Aplicação de Enquetes</h1>
        <h2>Detalhes da Enquete #{{pergunta.id}}</h2>
        <h3>{{pergunta.texto}}</h3>
        Escolha a alternativa desejada: <br/>
        {%if error%}
            <h3>{{error}}</h3>
        {%endif%}
        <ul>
        <form action="{% url 'enquetes:votacao' pergunta.id %}" method='post'>
            {% csrf_token %}
            {% for alt in pergunta.alternativa_set.all %}

                <li> <input type="radio" name="alt" value="{{ alt.id }}" id="alt{{forloop.counter}}" />
                <label for="alt{{forloop.counter}}">
                    {{alt.texto}}
                </label>
                </li>
            {%endfor%}

        <input type="submit" value="Votar"/>
        </form>
        </ul>
        <hr/>

        <a href="{% url 'enquetes:index' %}">Voltar</a>
    </body>
</html>