<html>
    <head>
        <tittle>App Enquetes</tittle>
    </head>
    <body>
        <h1>Aplicação de Enquetes</h1>
        <h2>Resulta parcial da Enquete #{{pergunta.id}}</h2>
        <h3>{{pergunta.texto}}</h3>
        <ul>

            {% csrf_token %}
            {% for alt in pergunta.alternativa_set.all %}

                <li>
                    {{alt.texto}} = {{alt.quant_votos }}
                </li>
            {%endfor%}

        </ul>
        <hr/>
        <a href="{% url 'enquetes:index' %}">Voltar</a>
        | <a href="{% url 'enquetes:detalhes' pergunta.id%}">Votar novamente</a>
    </body>
</html>